/* Header.css */
*{margin: 0px;
    padding: 0px;}
    @font-face {
        font-family: 'GangwonEdu_OTFBoldA';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        font-family: "GangwonEdu_OTFBoldA";
      }
    
    /* 맨위 메인 */
    .headerContainer {
        background-image: url('/public/recycleImages/mainImg.png'); 
        background-size: cover; 
        background-position: center;
        height: 200px; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        color: white; 
        margin: 10px;
    }
    
    .headerContent {
        text-align: center; 
        font-size: 35px;
    }
    