.box{
    margin:0;
}

.check {
    width: 231px;
    height: 193px;

    opacity: 1;
    position: absolute;
    border-right: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .promise {
    width: 260px;
    height: 294px;
    background: url("../../../public/images/v46_635.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 51px;
    left: 47px;
    overflow: hidden;
  }
  .day {
    width: 160px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 164px;
    left: 92px;
    font-family: Gloria Hallelujah;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .a {
    width: 150px;
    height: 140px;
    background: url("../../../public/images/v46_631.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 419px;
    left: 104px;
    overflow: hidden;
  }
  .b {
    width: 182px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 535px;
    left: 91px;
    font-family: Gloria Hallelujah;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }