/* .MenuBox div {
    display: inline-block;
    margin: 5px;
}
.MenuItem {
    width: 300px;
    background-color: skyblue;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

.MenuItem:hover {
    background-color: orangered;
    color: white;
} */
.mainContent{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.subDiv{    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30%;
    margin-left: 30px;}
.center{        margin-top: 45px;
    text-align: center;}
    .center2{text-align: center;}
.sudContent{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    margin: 20px;}
img{ width: 150px;}
.flex{    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 20px;}
.sub{    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 15px 15px 20px 15px}
button{background: white;
    border: 1px solid #3e5d4d;
    margin: 7px;
    padding: 5px 10px;
    width: 100px;
    border-radius: 20px;}
.pd{    width: 100%;
    padding-left: 100px;}
.flexrow{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}
.searchInput{height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid gray;}